button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
}

button,
.box {
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}