button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px;
}

button,
.box {
  border-radius: 10px;
}

button,
.box,
.grid,
.bordered {
  border-color: gray;
  border-style: solid;
}

.grid {
  border-width: 0.5px;
  height: 8px;
  min-width: 8px;
  max-width: 8px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}