button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px;
}

hr {
  border: 0.5px solid rgb(128, 128, 128);
}

/* Darker background on mouse-over */
button:hover {
  background-color: RoyalBlue;
}

button,
.box {
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
}

.buttonContainer :not(:first-child) {
  margin-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.buttonContainer :not(:last-child) {
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


button,
.box,
.grid,
.bordered {
  border-color: #f0f0f0;
  border-style: solid;
}

.grid {
  border-width: 0.5px;
  height: 8px;
  min-width: 8px;
  max-width: 8px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}